body {
  padding-top: 56px;
}

.jumbotron {
  background-color: #f8f9fa;
  border-radius: 0.3rem;
  padding: 2rem 1rem;
}

.container {
  max-width: 960px;
}

.img-thumbnail {
  max-width: 200px;
  height: auto;
}
