<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Virtual Doctor{% endblock %}</title>
    <link href="{% block theme %}https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css{% endblock %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div style="margin-left: 2vw;">
            <a class="navbar-brand" href="{% url 'home' %}">Virtual Doctor</a>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNFMDb6nEd906vJEn6xg62TOtwIVHvBDGK2Q&s" width="50" height="50" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" style="margin-left: 10vw;">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'predict_disease' %}">Predict Disease</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manage_contacts' %}">Manage Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule_appointment' %}">Schedule Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_health_tips' %}">Health Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'track_symptoms' %}">Track Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>