{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cerulean/bootstrap.min.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100 mb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card p-4">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post" autocomplete="on">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary w-100 mt-3" type="submit">Login</button>
                    </form>
                    <br />
                    <button class="btn btn-secondary w-100" onclick="location.href = '{% url 'register' %}';">Register Here</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
